
<div class='cards-container'>
  <div class="card" style="width: 18rem;">
    <img src="<%=asset_path('tldreddit-screenshot.png')%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">TLDReddit</h5>
      <p class="card-text">TLDReddit is an alternative way to browse reddit, built for educational purposes.</p>
      <a href="https://serene-sinoussi-2933f8.netlify.app/" class="btn btn-outline-light">Visit App</a>
      <a href="https://github.com/JPSCorreia/TLDReddit" class="btn btn-outline-light">Visit Github</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="<%=asset_path('mastermind-screenshot.png')%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ruby Mastermind</h5>
      <p class="card-text">Mastermind game built using Ruby.</p>
      <a href="https://github.com/JPSCorreia/Ruby_Mastermind" class="btn btn-outline-light">Visit Github</a>
      <a href="https://replit.com/@JPSCorreia/RubyMastermind#mastermind.rb" class="btn btn-outline-light">Visit App</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="<%=asset_path('chess-screenshot.png')%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ruby Chess</h5>
      <p class="card-text">Chess game built using Ruby.</p>
      <a href="https://github.com/JPSCorreia/RubyTOP/tree/main/chess" class="btn btn-outline-light">Visit Github</a>
      <a href="https://replit.com/@JPSCorreia/RubyTOP-1" class="btn btn-outline-light">Visit App</a>
    </div>
  </div>
</div>


